<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{ SITEDESC }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        {# Add to homescreen for Chrome on Android #}
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/android-desktop.png">

        {# Add to homescreen for Safari on iOS #}
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ios-desktop.png">

        {# Tile icon for Win8 (144x144 + tile color) #}
        <meta name="msapplication-TileImage" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ms-desktop.png">
        <meta name="msapplication-TileColor" content="#3372DF">

        <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.png">

        {# SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones #}
{#        <link rel="canonical" href="http://www.example.com/">#}

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link href="//cdn.jsdelivr.net/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">

        {% if PRIMARY_COLOR is defined and ACCENT_COLOR is defined %}
            {% set pc = PRIMARY_COLOR | lower | replace(' ','_') %}
            {% set ac = ACCENT_COLOR | lower | replace(' ','_') %}
        {% else %}
            {% set pc = "indigo" | lower %}
            {% set ac = "pink" | lower %}
        {% endif %}
        {% set matName = "material." + pc + "-" + ac + ".min.css" %}

        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/{{ matName }}">

        <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/all.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.6.1/js/v4-shims.js"></script>

        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/mstyles.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css"/>


        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} Full Atom Feed"/>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
                  title="{{ SITENAME }} Full RSS Feed"/>
        {% endif %}
        {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} Atom Feed"/>
        {% endif %}
        {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
                  title="{{ SITENAME }} RSS Feed"/>
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml"
                  rel="alternate" title="{{ SITENAME }} Categories Atom Feed"/>
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml"
                  rel="alternate" title="{{ SITENAME }} Categories RSS Feed"/>
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml"
                  rel="alternate" title="{{ SITENAME }} Tags Atom Feed"/>
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml"
                  rel="alternate" title="{{ SITENAME }} Tags RSS Feed"/>
        {% endif %}
    {% endblock head %}
</head>

<body id="index" class="home">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="site-title mdl-layout-title">
                {{ SITENAME }}
            </span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">

                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-cell--hide-phone">
                    <a class="topLinks mdl-navigation__link" href="{{ SITEURL }}/index.html">Blog</a>
                    <a class="topLinks mdl-navigation__link" href="{{ SITEURL }}/pages/cv.html">CV</a>
                    <a class="topLinks mdl-navigation__link" href="{{ SITEURL }}/archives.html">Archives</a>
                    <a class="topLinks mdl-navigation__link" href="{{ SITEURL }}/pages/about.html">À propos</a>
                </nav>

{#                <label class="mdl-button mdl-js-button mdl-button--icon"#}
{#                       for="fixed-header-drawer-exp">#}
{#                    <i class="material-icons">search</i>#}
{#                </label>#}
{#                <div class="mdl-textfield__expandable-holder">#}
{#                    <input class="mdl-textfield__input" type="text" name="sample"#}
{#                           id="fixed-header-drawer-exp"/>#}
{#                </div>#}

            </div>
        </div>

        <div class="mdl-cell--hide-tablet mdl-cell--hide-desktop">
            <div class="mobile-links">
                <a class="mdl-navigation__link_mobile" href="{{ SITEURL }}/index.html">Blog</a>
                <a class="mdl-navigation__link_mobile" href="{{ SITEURL }}/pages/cv.html">CV</a>
                <a class="mdl-navigation__link_mobile" href="{{ SITEURL }}/archives.html">Archives</a>
                <a class="mdl-navigation__link_mobile" href="{{ SITEURL }}/pages/about.html">À propos</a>
            </div>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <div class="contact-card-image mdl-card mdl-shadow--2dp" style="background-image: url({{ USER_LOGO_URL }})">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <span class="contact-card-name"> {{ AUTHOR }} </span>
            </div>
        </div>
        <div class="contact-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions mdl-card--border">
                <div class="social-buttons">
                    {% for s in SOCIAL %}
                        {% if s[2] %}
                            {% set name_sanitized = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
                        {% else %}
                            {% set name_sanitized = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
                        {% endif %}
                        {% if name_sanitized in ['flickr', 'spotify', 'stack-overflow', 'weibo'] %}
                            {% set iconattributes = '"fa fa-' ~ name_sanitized ~ ' fa-lg"' %}
                        {% else %}
                            {% set iconattributes = '"fa fa-' ~ name_sanitized ~ '-square fa-lg"' %}
                        {% endif %}

                        <a id="{{ name_sanitized }}" target="_blank" href="{{ s[1] }}"
                           class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent social-anchors">
                            <i class={{ iconattributes }}></i>
                        </a>

                        {# Tooltip #}
                        <div class="mdl-tooltip" data-mdl-for="{{ name_sanitized }}">
                            {{ s[0] }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <span class="mdl-layout-title">Categories</span>
            <nav class="mdl-navigation">
                {% for cat, null in categories %}
                    <a class="mdl-navigation__link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                {% endfor %}
            </nav>

            <span class="mdl-layout-title">Libellés</span>
            <nav class="mdl-navigation">
                {% for tag, null in tags | sort %}
                    <a class="mdl-navigation__link" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>

    <main class="mblog mdl-layout__content">
        <div class="container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            {% block content %}
            {% endblock %}
        </div>

        <footer class="mdl-mega-footer">

            <div class="mdl-mega-footer__middle-section">

                <div class="mdl-mega-footer__drop-down-section">
                    <h1 class="mdl-mega-footer__heading">Licence</h1>
                    <ul class="mdl-mega-footer__link-list">
                        <li>
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener" target="_blank">
                                <i class="cc cc-by-sa"></i>
                                Creative Commons BY-SA 4.0
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                    <h1 class="mdl-mega-footer__heading">Contributions</h1>
                    <ul class="mdl-mega-footer__link-list">
                        <li>
                            <a href="https://aur.archlinux.org/packages/?SeB=m&K=rdoursenaud" rel="noopener" target="_blank">AUR</a>
                        </li>
                        <li>
                            <a href="https://github.com/rdoursenaud" rel="noopener" target="_blank">GitHub</a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/rdoursenaud" rel="noopener" target="_blank">GitLab</a>
                        </li>
                        <li>
                            <a href="https://www.openhub.net/accounts/215754?ref=Detailed" rel="noopener" target="_blank">Open Hub</a>
                        </li>
                    </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                    <h1 class="mdl-mega-footer__heading">Membre</h1>
                    <ul class="mdl-mega-footer__link-list">
                        <li>
                            <a href="http://www.april.org/adherer" rel="noopener" target="_blank">April</a>
                        </li>
                        <li>
                            <a href="https://www.eff.org/join" rel="noopener" target="_blank">EFF</a>
                        </li>
                        <li>
                            <a href="http://www.fsf.org/" rel="noopener" target="_blank">FSF</a>
                        </li>
                        <li>
                            <a href="https://fellowship.fsfe.org/" rel="noopener" target="_blank">FSFE</a>
                        </li>
                        <li>
                            <a href="https://www.internetsociety.org/become-a-member/" rel="noopener" target="_blank">Internet Society</a>
                        </li>
                    </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                    <h1 class="mdl-mega-footer__heading">Liens</h1>
                    <ul class="mdl-mega-footer__link-list">
                        <li>
                            <a href="https://gpcsolutions.fr" rel="noopener" target="_blank">GPC.solutions</a>
                        </li>
                        <li>
                            <a href="https://ematech.github.io" rel="noopener" target="_blank">EMA Tech.</a>
                        </li>
                        <li>
                            <a href="https://tts.rocks" rel="noopener" target="_blank">Association TTS</a>
                        </li>
                        <li>
                            <a href="https://stolon.fr" rel="noopener" target="_blank">FAI associatif Stolon</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mdl-mega-footer__bottom-section">
                <div id="about">
                    Construit avec <a href="https://github.com/eswarm/materialistic-pelican" rel="noopener" target="_blank">Materialistic Pelican</a>
                    par
                    <a href="http://eswarm.in" rel="noopener" target="_blank">Eswar Malla</a>,
                    Propulsé par <a href="http://getpelican.com" rel="noopener" target="_blank">Pelican</a>.
                </div>
            </div>
        </footer>
    </main>

</div>

{#<div class="mblog mdl-layout mdl-js-layout">#}
{#<main class="mdl-layout__content">#}
{##}
{# #}
{#</main>#}
{#<div class="mdl-layout__obfuscator"></div>#}
{#</div>#}

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>

<script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function (el) {
        var link = el.querySelector('a');
        if (!link) {
            return;
        }
        var target = link.getAttribute('href');
        if (!target) {
            return;
        }
        el.addEventListener('click', function () {
            location.href = target;
        });
    });
</script>

</html>
