{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-ce
ll mdl-cell--8-col">
        <div class="fill-page-block mdl-grid">
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(page) }}

            <div class="page-text">
                {{ page.content }}
            </div>

            {% if page.modified %}
                <p>
                    Last updated: {{ page.locale_modified }}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
