{% if DEFAULT_PAGINATION %}
    <div class="mblog__posts mdl-grid">
        <nav class="m-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">

            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="m-nav__button">
                    <button id="previous-button"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--accent mdl-color-text--grey-900"
                            role="presentation">
                        <i class="material-icons">arrow_back</i>
                    </button>

                    {# Tooltip #}
                    <div class="mdl-tooltip" data-mdl-for="previous-button">
                        Ancien
                    </div>
                </a>
            {% endif %}

            <div class="section-spacer"></div>

            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="m-nav__button">
                    <button id="next-button"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--accent mdl-color-text--grey-900"
                            role="presentation">
                        <i class="material-icons">arrow_forward</i>
                    </button>

                    {# Tooltip #}
                    <div class="mdl-tooltip" data-mdl-for="next-button">
                        Récent
                    </div>
                </a>
            {% endif %}

        </nav>
    </div>
{% endif %}
