<li class="mdl-menu__item">
    <!-- Google+ -->
    <i class="fa fa-google-plus-square fa-3x"></i>
    <a href="https://plus.google.com/share?url={{ '{' }} {{ article.url }} {{ '}' }}" onclick="javascript:window.open(this.href,
'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" alt="Google plus">
        Google+
    </a>
</li>

<!-- Twitter -->
<li class="mdl-menu__item">
    <i class="fa fa-twitter-square fa-3x"></i>
    <a alt="Twitter" href="https://twitter.com/share?url={{ article.url }}&amp;text={{ Title }};hashtags={{ Tags }}"
       target="_blank">
        Twitter
    </a>
</li>

<li class="mdl-menu__item">
    <!-- Facebook -->
    <i class="fa fa-facebook-square fa-3x"></i>
    <a href="http://www.facebook.com/sharer.php?u={{ article.url }}" target="_blank" alt="facebook">
        Facebook
    </a>
</li>

<li class="mdl-menu__item">
    <!-- LinkedIn -->
    <i class="fa fa-linkedin-square fa-3x"></i>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ article.url }}" target="_blank"
       alt="LinkedIn">
        LinkedIn
    </a>
</li>

<li class="mdl-menu__item">
    <!-- Pinterest -->
    <i class="fa fa-pinterest-square fa-3x"></i>
    <a alt="Pinterest"
       href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
        Pinterest
    </a>
</li>

<!-- Reddit -->
<li class="mdl-menu__item">
    <i class="fa fa-reddit-square fa-3x"></i>
    <a alt="Reddit" href="http://reddit.com/submit?url={{ article.url }}&amp;title={{ article.title }}"
       target="_blank">

        Reddit
    </a>
</li>

<!-- Tumblr-->
<li class="mdl-menu__item">
    <i class="fa fa-tumblr-square fa-3x"></i>
    <a alt="Tumblr" href="http://www.tumblr.com/share/link?url={{ article.url }}&amp;title={{ title }}"
       target="_blank">
        Tumblr
    </a>
</li>

<!-- Email -->
<li class="mdl-menu__item">
    <i class="fa fa-envelope-square fa-3x"></i>
    <a alt="Email" href="mailto:?Subject={{ article.url }}&amp;Body={{ article.title }} {{ article.url }}">
        Email
    </a>
</li>

<!-- Print
<li class="mdl-menu__item">
    <i class="fa fa-print fa-3x"></i>
    <a alt="Print" href="javascript:;" onclick="window.print()">
        Print
    </a>
</li>
-->
